---
import ProfilePicture from "../components/ProfilePicture.astro";
import BaseLayout from "../layout/BaseLayout.astro";
---

<BaseLayout title="Sajay Prakash | Links">
  <main>
    <ProfilePicture src="/pfp.jpg" alt="Sajay Prakash" />
  </main>
</BaseLayout>
