---
const year = new Date().getFullYear();
---

<footer class="mt-4 flex flex-col items-center justify-center gap-y-px py-4 text-center">
  <div>&copy; {year} Sajay Prakash. All rights reserved.</div>
  <div class="font-light">
    Built using <a
      href="https://astro.build"
      class="underline decoration-neutral-400 decoration-wavy hover:decoration-neutral-300">Astro</a
    > and <a
      href="https://tailwindcss.com"
      class="underline decoration-neutral-400 decoration-wavy hover:decoration-neutral-300"
      >TailwindCSS</a>
  </div>
  <a
    class="font-light underline decoration-neutral-400 decoration-wavy hover:decoration-neutral-300"
    href="https://github.com/sajayprakash/links-site"
    target="_blank">Source Code</a
  >
</footer>
