---
const year = new Date().getFullYear();
---

<footer class="flex flex-col items-center justify-center py-4 text-center gap-y-px">
  <div>&copy; {year} Sajay Prakash. All rights reserved.</div>
  <div class="font-light">Built using <a href="https://astro.build" class="underline decoration-wavy decoration-neutral-400 hover:decoration-neutral-300">Astro</a> and <a href="https://tailwindcss.com" class="underline decoration-wavy decoration-neutral-400 hover:decoration-neutral-300">TailwindCSS</a></div>
  <a class="underline decoration-wavy decoration-neutral-400 hover:decoration-neutral-300 font-light" href="https://github.com/sajayprakash/links-site" target="_blank">Source Code</a>
</footer>